{% extends "blog/base.html" %}
{% load static %}

{% block content %}
  <!-- Particles Background -->
  <div id="particles-js" class="blog-top-content-holder relative">
  
        <div class="header-logo">
  
                <img src="{% static 'images/AZU_logo.png' %}" alt="Azure">
  
        </div>
        
        <div class="blog-top-content content-1170 center-relative center-text relative">
            <h1 class="entry-title">YOU ARE ENTERING A FORBIDDEN ZONE</h1>
            <p class="site-description">Azure Wang</p>
        </div>
        <div class="clear"></div>
        <div class="icon-scroll"></div>
    </div>

    <article class="entry-holder blog-item-holder" style="background-image: url({% static 'images/lsd.jpg' %})">

        <div class="entry-content relative">
            <div class="content-1170 center-relative center-text">
                <div class="excerpt-content">
                    <script>
                        var demo1_speed = "500";
                        var demo1_auto = "true";
                        var demo1_pagination = "true";
                        var demo1_hover = "true";
                    </script>
                    <div class="demo1 testimonial_slider_holder slider_holder">
                        <div class="testimonial-top-quotes">“</div>
                        <div class="caroufredsel_wrapper">
                            <ul id="demo1" class="slides testimonial">
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">我是谁，我从哪里来</p>
                                        <p class="testimonial-author">CHRISTIAN LINDHOLM </p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">你是谁，你是不是我？</p>
                                        <p class="testimonial-author">AZURE WANG</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>

                        </div>
                        <div id="demo1_pagination" class="carousel_pagination left"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </article>

{% endblock %}
