{% extends "blog/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class=col-md-12>

    <h1>Search Result</h1>


    {% if search_results %}

            {% for result in search_results %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    <p class="card-text">
                        {% if result.excerpt %}
                            {{ post.excerpt }}
                        {% elif result.body %}
                            {{ result.body|truncatewords_html:70 }}
                        {% endif %}

                        {% if result.search_description %}
                            {{ result.search_description }}
                        {% endif %}
                    </p>
                    <a href="{% pageurl result %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                Posted on {{ result.specific.date }}
                </div>
            </div>
            {% endfor %}


        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
        
    {% else %}
        <div class="alert alert-primary">
            <h5>啥都没找到...</h5>
        </div>
    {% endif %}
</div>
{% endblock %}
