{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar blogapp_tags el_pagination_tags menu_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{{ self.title }}{% if self.description %} | {{ self.description }}{% endif %}{% endblock title %}</title>
  <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}" />

  <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'blog/css/bootstrap4.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/blog-home4.css' %}" rel="stylesheet">


</head>

<body>

  {% wagtailuserbar %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top py-3">
    <div class="container">
      <a class="navbar-brand" href="/">AZURE</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% main_menu template="menu/main_menu.html" %}

        <form class="ml-md-auto" action="{% url 'search' %}" method="get">
          <div class="input-group input-group">
            <input type="text" class="border-0 pl-3 form-control" placeholder="Search" style="border-radius: 5em 0em 0em 5em"
            name="query" {% if search_query %} value="{{ search_query }}"{% endif %}>

            <span class="input-group-append">
              <button class="btn" style="border-radius: 0em 5em 5em 0em" type="submit"> 
                <i class="fas fa-search pr-1 text-secondary"></i>
              </button>
            </span>

          </div>
        </form>

      </div>

    </div>
  </nav>

  <!-- Page Content -->
  <div class="container py-3">
    {% block content %}
    {% endblock %}
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-primary">
    <div class="container">
      <p class="m-0 text-center text-white">Created By Azure</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- jQuery -->
  <script src="{% static 'blog/js/jquery.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>